* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica;
    border: none;
}

#navegacao {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	font-size: 20px;
	background: #9b26b6;
	margin-top: 20px;
	padding: 30px;
	align-items: center;
	text-transform: uppercase;
	
}

#navegacao ul {
	text-decoration: none;
	display: flex;
	list-style: none;
	
}

#navegacao li {
	margin-left: 20px;
	padding-right: 20px;
	color: aliceblue;
	border-right: 1px dotted #320a3b;

}

#navegacao li:hover {
	font-size: 24px;
	transition: .8s
}

#logo {
	height: 120px;
	border-radius: 18px;	
}

.valores {
	display: flex;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background: #66a1aa;
}

.valores img {
	height: 350px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 30px;
}

.valores img:hover {
	height: 380px;
	transition: .8s
}

#meios_utilizacao {
    display: flex;
    justify-content: space-around;
	margin: 20px 10px 20px 10px;
	
}

#meios_utilizacao img {
	width: 75px;
	padding: 10px;

}

#meios_utilizacao img:hover {
	width: 90px;
	transition: .8s;
}

.meio {
	background: #f5e9f8;
	border-radius: 15px;
}